/* Sezione About */
.about-section {
    padding: 50px;
    text-align: justify;
    background-color: #f9f9f9;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    margin-bottom: 15px;
}

/* Sezione Galleria */
.gallery-section {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

.gallery-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.gallery-section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}
